.form-control.score-container {
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.score-container svg {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.score-container svg:hover {
  fill: #007bff;
}

.score-container input:checked ~ svg {
  fill: #007bff;
}

.radio-container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  text-align: center;
}

.radio-container input {
  display: none;
  position: absolute;
  top: 15px;
  left: 30px;
}

.radio-container p {
  font-style: italic;
  font-weight: 500;
  color: #777;
}
